workflows/n8nworkflows/ai/3596.json
{
  "id": "4AG83ybt0S3WQbkS",
  "meta": {
    "instanceId": "a943fc71a4dfb51cc3424882233bcd72e7a73857958af1cf464f7c21580c726e",
    "templateCredsSetupCompleted": true
  },
  "name": "Daily AI News Translation & Summary with GPT-4 and Telegram Delivery",
  "tags": [
    {
      "id": "WuWMTipHMvadNrvh",
      "name": "Other",
      "createdAt": "2025-04-18T13:34:41.761Z",
      "updatedAt": "2025-04-18T13:34:41.761Z"
    }
  ],
  "nodes": [
    {
      "id": "894ceed6-8fcd-484e-bf6f-9c3eee81119e",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        200
      ],
      "parameters": {
        "color": 7,
        "width": 720,
        "height": 600,
        "content": "### 설정\n\n1. **NewsAPI 및 GNews API 키 추가**\n    - NewsAPI.org([https://newsapi.org/](https://newsapi.org/))과 GNews([https://gnews.io/](https://gnews.io/))에서 계정을 등록하여 API 키를 얻으세요.\n    - NewsAPI 키를 `Fetch NewsAPI articles` 노드에 직접 입력하세요.\n    - GNews API 키를 `Fetch GNews articles` 노드에 입력하세요.\n2. **Telegram 봇 설정**\n    - BotFather([https://core.telegram.org/bots#6-botfather](https://core.telegram.org/bots#6-botfather))를 통해 Telegram 봇을 생성하고 생성된 Bot Token을 복사하세요.\n    - n8n에서 이 토큰을 사용하여 Telegram 봇 자격 증명을 생성하세요.\n    - `Send summary to Telegram` 노드에서 메시지를 받을 대상 사용자, 그룹 또는 채널의 채팅 ID를 입력하세요.\n3. **OpenAI 자격 증명 구성**\n    - n8n에서 OpenAI API 키를 사용하여 새 자격 증명을 생성하세요.\n    - 이 자격 증명을 `GPT-4.1 Model` 노드(또는 해당 OpenAI/AI 노드)에 할당하세요.\n\n이러한 단계를 완료한 후, 워크플로는 선택한 Telegram 채팅에 자동으로 일일 AI 뉴스를 가져와 요약하여 전달하도록 완전히 구성됩니다.\n\n### 이 워크플로를 커스터마이징하는 방법\n\n- **주제 변경:** NewsAPI 및 GNews 노드의 키워드를 다른 주제로 업데이트하세요(예: “blockchain”, “quantum computing”).\n- **전달 시간 조정:** 예약된 트리거를 선호하는 시간으로 수정하세요.\n- **요약 스타일 또는 언어 조정:** AI 요약기 노드의 프롬프트를 다른 톤으로 세밀하게 조정하거나 필요에 따라 다른 언어로 번역하세요.\n\n### 출력"
      },
      "typeVersion": 1
    },
    {
      "id": "9de68856-a2e1-4b06-a738-92e8db23f9ea",
      "name": "Trigger at 8am daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        760,
        520
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d2a13562-9f21-4f99-8698-d5ba58245b02",
      "name": "Fetch GNews articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        980,
        420
      ],
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "apikey"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "0895bda6-5268-4454-a49f-732a3025947b",
      "name": "Fetch NewsAPI articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        980,
        620
      ],
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "20"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "3cd42b1a-348a-486d-8217-592ce2b35e6c",
      "name": "GNews: Map to articles",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        420
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "name": "articles",
              "type": "string",
              "value": "={{ $json.articles }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "40692e2f-9289-448b-a5cb-ce4846b20264",
      "name": "NewsAPI: Map to articles",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        620
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "name": "articles",
              "type": "string",
              "value": "={{ $json.articles }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "d42b4e2d-87f4-4a0e-a6c3-ab1b3501bcfa",
      "name": "Merge GNews & NewsAPI",
      "type": "n8n-nodes-base.merge",
      "position": [
        1420,
        520
      ],
      "parameters": {},
      "typeVersion": 3.1
    },
    {
      "id": "985ec49b-b127-44b9-8f63-62486d0bf864",
      "name": "Sticky: News APIs",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        210
      ],
      "parameters": {
        "color": 5,
        "width": 480,
        "height": 570,
        "content": "### 데이터 소스 노드\n- `Fetch GNews articles` and `Fetch NewsAPI articles`은 각각 두 개의 다른 API에서 사용자의 API 키를 사용하여 최대 20개의 최신 AI 관련 영어 뉴스를 가져옵니다.\n- 두 소스 모두 합병을 위해 `articles` 속성으로 표준화됩니다."
      },
      "typeVersion": 1
    },
    {
      "id": "430c8ddc-948e-4770-b816-591c6c43c617",
      "name": "AI summarizer & translator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1640,
        520
      ],
      "parameters": {
        "text": "=You are an AI news assistant. Your tasks:\n1. Select the 15 most relevant articles on AI technology progress and applications from {{$json.articles}}.\n2. Translate them to accurate Traditional Chinese; don't translate commonly used technical English terms.\n3. Make sure to include the article URL for each item.\n4. Begin output with today's date (e.g., '早安，這是 {{ $now.format('yyyy/MM/dd') }} 的 AI 新聞：')\nOutput only the summary.",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "5dfacf8a-25d4-43fd-9b96-a34eeed45d39",
      "name": "GPT-4.1 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1728,
        740
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "RjawTJt2ILjgM4Wx",
          "name": "[Template] OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "66fedd82-5fbf-4d17-a7f5-78c41d7d5949",
      "name": "Sticky: AI Processing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        300
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 580,
        "content": "AI 어시스턴트 로직  \n요약은 최신 GPT-4.1 모델을 사용하여 GNews와 NewsAPI 모두에서 상위 15개의 AI 뉴스 링크를 선택, 번역, 그리고 보강합니다. 간결하고 읽기 쉬운 출력물을 위한 맞춤형 프롬프트에 의해 제어됩니다."
      },
      "typeVersion": 1
    },
    {
      "id": "7a742531-4a08-408e-8b2c-558be75c1a8f",
      "name": "Send summary to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2016,
        520
      ],
      "webhookId": "21eb8e1c-87de-45af-888d-699fbd443bc8",
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "tpF8PHPxMfdld3NA",
          "name": "[Template] Telegram Bot"
        }
      },
      "typeVersion": 1.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "deee909a-9cfe-409d-8201-b9b7194ec9bc",
  "connections": {
    "GPT-4.1 Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI summarizer & translator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GNews articles": {
      "main": [
        [
          {
            "node": "GNews: Map to articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger at 8am daily": {
      "main": [
        [
          {
            "node": "Fetch GNews articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch NewsAPI articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge GNews & NewsAPI": {
      "main": [
        [
          {
            "node": "AI summarizer & translator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NewsAPI articles": {
      "main": [
        [
          {
            "node": "NewsAPI: Map to articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GNews: Map to articles": {
      "main": [
        [
          {
            "node": "Merge GNews & NewsAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI: Map to articles": {
      "main": [
        [
          {
            "node": "Merge GNews & NewsAPI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI summarizer & translator": {
      "main": [
        [
          {
            "node": "Send summary to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}