workflows/awesome-n8n-templates-by-enescingoz/google/AI Agent _ Google calendar assistant using OpenAI.json
{
  "id": "ITH6r6UYtlCyUcpj",
  "meta": {
    "instanceId": "b9faf72fe0d7c3be94b3ebff0778790b50b135c336412d28fd4fca2cbbf8d1f5"
  },
  "name": "AI Agent : Google calendar assistant using OpenAI",
  "tags": [],
  "nodes": [
    {
      "id": "2e670a54-f789-4c8b-abba-ae35c458f5ed",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -280,
        0
      ],
      "webhookId": "5308edc9-738b-4aae-a789-214e2392579a",
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "96bf895f-a18c-4a4c-bc26-3ec5d2372de5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        160,
        820
      ],
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "270176df-9c2d-4f1a-b017-9349cb249341",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        580,
        820
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "5cdece35-bd69-4c77-b240-963df8781d64",
      "name": "Google Calendar - Get Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        960,
        800
      ],
      "parameters": {
        "options": {
          "timeMax": "={{ $fromAI('end_date') }}",
          "timeMin": "={{ $fromAI('start_date') }}"
        },
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": ""
        },
        "operation": "getAll",
        "descriptionType": "manual",
        "toolDescription": "Use this tool when you’re asked to retrieve events data."
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "634e6472-099c-4f0e-b9eb-67956c4881b8",
      "name": "Google Calendar - Create events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1380,
        800
      ],
      "parameters": {
        "end": "={{ $fromAI('end_date') }} ",
        "start": "={{ $fromAI('start_date') }} ",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": ""
        },
        "descriptionType": "manual",
        "toolDescription": "Use this Google Calendar tool when you are asked to create an event.",
        "additionalFields": {
          "summary": "={{ $fromAI('event_title') }} ",
          "attendees": [],
          "description": "={{ $fromAI('event_description') }} "
        },
        "useDefaultReminders": false
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "5c93e130-29d5-489b-84ea-3e31f5849b3a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        -380
      ],
      "parameters": {
        "color": 7,
        "width": 320,
        "height": 560,
        "content": "## 채팅 트리거 - 메시지가 수신될 때\n\n이 노드는 **워크플로의 진입점**입니다.  \n메시지가 **채팅 인터페이스**에 전송될 때마다 워크플로를 트리거합니다.\n\nn8n 옵션:  \n- **채팅 인터페이스를** 원하는 곳에 임베드하세요.  \n- 이 노드 대신 **웹훅 노드**를 사용하여 **[Streamlit](https://docs.streamlit.io/develop/tutorials/llms/build-conversational-apps)** 또는 **[OpenWebUI](https://docs.openwebui.com/)**와 같은 인터페이스에 연결하세요.  \n- 구성 방법을 안다면 (**Slack**, **Teams**, **Discord** 등) 커뮤니케이션 플랫폼용 노드를 사용하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "a1e850b4-d0fe-417c-8e1e-13fb4cdbb0a8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        -380
      ],
      "parameters": {
        "color": 7,
        "width": 1520,
        "height": 560,
        "content": "## 도구 에이전트 - 캘린더 AI 에이전트\n\n이 **노드**는 Google Calendar와의 상호작용을 위해 **AI 에이전트**를 구성합니다.  \n다음과 같은 기능을 포함합니다:\n\n- **프롬프트 소스**: 이는 이전 노드(`When chat message is received`)의 채팅 입력에서 파생된 사용자 메시지입니다.\n- **시스템 메시지**: 이는 AI 에이전트의 행동을 안내하기 위한 시스템 프롬프트를 정의합니다. 변수 `{{ DateTime.local().toFormat('cccc d LLLL yyyy') }}`를 포함하여 AI 에이전트가 현재 날짜를 확인하고 Google Calendar와 상호작용할 수 있게 합니다. 예를 들어, 에이전트는 \"n8n workflow review\"라는 이벤트를 다음 화요일에 생성하라는 요청을 이해할 수 있습니다.\n\nn8n 노드에는 내장된 **가드레일**이 있어, 사용자가 AI 에이전트의 설정 외의 작업을 요청할 경우 의도대로 작동하지 않을 수 있습니다. (테스트해 보세요!)"
      },
      "typeVersion": 1
    },
    {
      "id": "9b259245-5fd5-4798-973e-bc6aa15da20f",
      "name": "Calendar AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        580,
        0
      ],
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a Google Calendar assistant.\nYour primary goal is to assist the user in managing their calendar effectively using two tools: Event Creation and Event Retrieval. Always base your responses on the current date: \n{{ DateTime.local().toFormat('cccc d LLLL yyyy') }}.\nGeneral Guidelines:\nIf the user's initial message is vague (e.g., \"hello\" or a generic greeting) or does not specify a request, explain your capabilities clearly:\nExample: \"Hello! I can help you manage your Google Calendar. You can ask me to create an event or retrieve event data. What would you like me to do?\"\nIf the user specifies a request in their first message, begin preparing to use the appropriate tool:\nFor event creation, gather necessary details like start date, end date, title, and description.\nFor event retrieval, ask for the date range or time period they want to query.\nTool: Event Creation\nWhen asked to create an event:\n\nRequest the start and end dates/times from the user.\nDate format: YYYY-MM-DD HH:mm:ss\nCollect the following information:\nstart_date: Exact start date and time of the event.\nend_date: Exact end date and time of the event.\nevent_title: Event title in uppercase. Suggest one if not provided.\nevent_description: Generate a brief description and present it for confirmation.\nTool: Event Retrieval\nWhen asked to retrieve events:\n\nAsk for the date range or period they are interested in. Examples:\nFor \"last week,\" retrieve events from Monday of the previous week to Friday of the same week.\nFor \"today,\" use the current date.\nFormat the date range:\nstart_date: Start date and time in YYYY-MM-DD HH:mm:ss.\nend_date: End date and time in YYYY-MM-DD HH:mm:ss.\nKey Behaviors:\nClarity: Provide a clear and helpful introduction when the user's request is unclear.\nValidation: Confirm details with the user before finalizing actions.\nAdaptation: Handle varying levels of detail in requests (e.g., \"Add a meeting for next Monday morning\" or \"Retrieve my events for this weekend\").\nProactivity: Offer suggestions to fill in missing details or clarify ambiguous inputs.\nLanguage Matching: Ensure all interactions, including event titles, descriptions, and messages, are in the user's language to provide a seamless experience."
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "b902a7d0-c2ca-4ab9-9f2a-047b9ccb1678",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        240
      ],
      "parameters": {
        "color": 5,
        "width": 320,
        "height": 720,
        "content": "## OpenAI 채팅 모델\n\n이 노드는 에이전트가 사용하는 채팅 모델을 지정합니다. \n템플릿에서 **기본 LLM은 gpt-4o**로, 높은 관련성 때문에입니다.\n\n다른 옵션:\n- **gpt-4o-mini를 시도**할 수 있습니다. 이는 더 비용 효과적입니다.\n- OpenAI 이외의 **다른 LLM 제공자**를 선택할 수도 있습니다. 하지만 선택한 LLM이 **tool-calling을 지원**하는지 확인하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "c67e1e1b-ef9a-4fec-a860-4ec6b7439df6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        240
      ],
      "parameters": {
        "color": 5,
        "width": 320,
        "height": 720,
        "content": "## 창 버퍼 메모리\n\n이 노드는 에이전트의 **메모리**를 관리하며, 특히 채팅 기록에 대한 **컨텍스트 창 길이**를 지정합니다. \n기본값은 5개의 메시지로 설정됩니다.\n\n노트: \n**메모리**는 **임시적**입니다. 에이전트와의 대화를 **저장**하려면 **Postgres 채팅 메모리**와 같은 다른 노드를 사용해야 합니다. \n이것은 **[Supabase](https://supabase.com/)**와 같은 서비스를 사용하여 쉽게 설정할 수 있습니다."
      },
      "typeVersion": 1
    },
    {
      "id": "bf719d53-e21b-4bd5-9443-c24d008f732b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        240
      ],
      "parameters": {
        "color": 5,
        "width": 320,
        "height": 720,
        "content": "## Google Calendar - Get Events\n\n이 서브-노드는 AI 에이전트가 사용하는 도구입니다.  \n그 목적은 **사용자 입력에 기반하여 이벤트를 검색하는** 것입니다.  \n예를 들어: \"지난 주에 내부 프로세스에 대한 이벤트를 알려줄 수 있나요?\"\n\nAI 에이전트는 **날짜 범위**가 있을 때에만 **이 도구를 사용하도록 설계**되었습니다.  \n사용자가 날짜 범위를 제공하지 않은 경우, **AI 에이전트는 사용자에게 이를 요청**할 것입니다.\n\n**변수** `{{ $fromAI('start_date') }}` 및 `{{ $fromAI('end_date') }}`는 **AI에 의해 동적으로 채워집니다**."
      },
      "typeVersion": 1
    },
    {
      "id": "e94eb1f8-df42-414b-9bec-9e6991a5a832",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1260,
        240
      ],
      "parameters": {
        "color": 5,
        "width": 320,
        "height": 720,
        "content": "## Google 캘린더 - 이벤트 생성\n\n이 서브-노드는 AI 에이전트가 사용하는 도구입니다.  \n그 목적은 **사용자 입력에 기반하여 이벤트를 생성**하는 것입니다.  \n예를 들어: \"분기 수익 회의라는 이벤트를 [날짜]에 [시간]부터 [시간]까지 생성해줄 수 있나요?\"\n\nAI 에이전트는 **날짜 범위가 있는 경우에만 이 도구를 사용**하도록 설계되었습니다.  \n사용자가 **날짜 범위를 제공하지 않은 경우**, AI 에이전트는 **사용자에게 이를 요청**할 것입니다.  \n변수 `{{ $fromAI('start_date') }}`과 `{{ $fromAI('end_date') }}`은 AI에 의해 동적으로 채워집니다.\n\n이벤트 생성 전에, AI 에이전트는 **이벤트의 제목과 설명이 올바른지 사용자에게 확인**할 것입니다.  \n사용되는 변수는 다음과 같습니다:  \n- `{{ $fromAI('event_title') }}`  \n- `{{ $fromAI('event_description') }}`"
      },
      "typeVersion": 1
    },
    {
      "id": "707c011c-c822-4922-8ef7-c4368947d179",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        1000
      ],
      "parameters": {
        "color": 4,
        "width": 720,
        "height": 380,
        "content": "## 이걸로 재미있게 놀고 계신가요? AI 에이전트를 업그레이드하는 방법입니다!\n\n이 워크플로는 **n8n을 사용하여 AI 에이전트가 도구를 호출하도록 쉽게 설정하는 방법**을 보여줍니다.  \n여기 작업들은 **유용하지만 매우 기본적**입니다.  \n\n도구 호출 기능을 **향상시키고 싶다면**, 다음을 고려하세요:\n\n- Google Calendar 노드의 **\"options\"**을 탐색하여 사용할 수 있는 추가 기능을 확인하세요.  \n  예를 들어, AI 에이전트가 생성하는 이벤트에 참석자를 추가하도록 하세요.\n\n- AI 에이전트를 **팀원들과 함께 구현하고 각 캘린더에 연결하세요**.  \n  캘린더 필드에 `{{ $fromAI('') }}` 변수를 사용하고, 프롬프트를 필요에 맞게 정제하세요.\n\n- AI 에이전트가 **Google Calendar API**를 통해 수행할 **더 많은 작업**을 추가하여 기능성을 확장하세요."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "25b51038-e103-4be6-bcd1-64df4b90d4c6",
  "connections": {
    "Calendar AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Create events": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}