workflows/n8nworkflows/common/2469.json
{
  "nodes": [
    {
      "id": "1e89a8ad-90cf-4040-b59e-1b4933ea4e69",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        -80
      ],
      "parameters": {
        "color": 4,
        "width": 982.895112064014,
        "height": 248.06218763804304,
        "content": "현재 백업을 오래된 폴더로 이동"
      },
      "typeVersion": 1
    },
    {
      "id": "f998e295-eafd-420a-9ba9-69571b4ab005",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        500
      ],
      "parameters": {
        "width": 980.8812626356395,
        "height": 188.38611225559103,
        "content": "30일 이상 지난 백업을 제거"
      },
      "typeVersion": 1
    },
    {
      "id": "a94facb5-c0df-4ba4-8620-3427aca24333",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        2000,
        280
      ],
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name }}-{{ $json.active === false ? 'inactive' : $json.active === true ? 'active' : 'unknown' }}",
          "useRawData": true
        }
      },
      "typeVersion": 1
    },
    {
      "id": "049ac29e-36f2-4a14-9d3a-6fd9c9d8a744",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -80
      ],
      "parameters": {
        "color": 2,
        "width": 1003.460056384994,
        "height": 755.833854865218,
        "content": "## 구글 드라이브 폴더 가져오기"
      },
      "typeVersion": 1
    },
    {
      "id": "e830c989-815d-4c79-806e-136a82a18d72",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        -80
      ],
      "parameters": {
        "color": 6,
        "width": 427.1093081837156,
        "height": 753.2799109651138,
        "content": "## n8n_backups 이외의 다른 폴더는 무시하세요\n\n    (이 폴더를 생성한 것이 중요합니다)"
      },
      "typeVersion": 1
    },
    {
      "id": "4197519c-0cf7-49dc-be45-a5c0ab7598c2",
      "name": "IGNORE FILES",
      "type": "n8n-nodes-base.filter",
      "position": [
        1440,
        40
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "98415e9e-5354-4223-9107-ef3ade30c2f0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $node[\"GET CURRENT FOLDER\"].json.name }}",
              "rightValue": "n8n_backups"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d3f6191a-80c6-43dd-923f-e98f9ade02f4",
      "name": "Create n8n_backups",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1000,
        340
      ],
      "parameters": {
        "name": "n8n_backups",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "resource": "folder"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "b0ff6563-4ad5-4615-844a-aea766cf0d40",
      "name": "Create n8n_old",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1000,
        500
      ],
      "parameters": {
        "name": "n8n_old",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "resource": "folder"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "d22a25ea-e1fd-4434-b050-480760f6ba11",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        540
      ],
      "parameters": {
        "color": 6,
        "width": 355.73762189847923,
        "height": 105.6805438265643,
        "content": "## 저에게 연락하세요  \n**이메일로**. [메일 보내기](mailto:nuntius.creative.hub@gmail.com)"
      },
      "typeVersion": 1
    },
    {
      "id": "b34e1e76-a8b8-4e0d-921b-1a773192e027",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        220
      ],
      "parameters": {
        "color": 5,
        "width": 327.6965514381564,
        "height": 451.756147757587,
        "content": "## 해당 폴더가 존재하지 않으므로, 새로운 폴더를 생성합니다.  \nn8n_backups  \nn8n_old"
      },
      "typeVersion": 1
    },
    {
      "id": "f0796631-ecb8-4603-838f-0ac1d1bf0a7b",
      "name": "GET CURRENT FOLDER",
      "type": "n8n-nodes-base.googleDrive",
      "onError": "continueRegularOutput",
      "position": [
        320,
        240
      ],
      "parameters": {
        "filter": {
          "whatToSearch": "folders"
        },
        "options": {},
        "resource": "fileFolder",
        "returnAll": true
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "executeOnce": true,
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "id": "8afbde8d-ae70-427c-8883-ffd49aea7ba7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        500,
        240
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst requiredNames = [\"n8n_old\", \"n8n_backups\"];\n\n// Filtrar los nombres de la entrada\nconst folderNames = items.map(item => item.json.name);\n\n// Encontrar los nombres que faltan\nconst missingNames = requiredNames.filter(name => !folderNames.includes(name));\n\nif (missingNames.length === 0) {\n  return [{ json: { message: \"ok\" } }];\n} else {\n  return [{ json: { message: `Faltan los siguientes: ${missingNames.join(', ')}` } }];\n}\n"
      },
      "typeVersion": 2
    },
    {
      "id": "2130d3d8-23e4-48d6-b3a0-7eab5971a71d",
      "name": "If n8n_old",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        360
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43bd468e-1018-4b45-9448-c51835ed65bc",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": "n8n_old"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "76a4ab52-b260-4a1e-be77-a7246a06b963",
      "name": "If1 n8n_backups",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        120
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43bd468e-1018-4b45-9448-c51835ed65bc",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": "n8n_backups"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "0a215059-a7bf-4892-b584-1f037b42a59c",
      "name": "GET CURRENT FOLDER CREATES",
      "type": "n8n-nodes-base.googleDrive",
      "onError": "continueRegularOutput",
      "position": [
        1100,
        40
      ],
      "parameters": {
        "filter": {
          "whatToSearch": "folders"
        },
        "options": {},
        "resource": "fileFolder",
        "returnAll": true
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "executeOnce": true,
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "id": "653d641c-b56f-4a02-b3bf-990b4f6b99f3",
      "name": "Merge mensage",
      "type": "n8n-nodes-base.merge",
      "position": [
        920,
        40
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "mergeByPosition"
      },
      "typeVersion": 2.1
    },
    {
      "id": "ae940b77-107a-4e6f-a635-a69876b342ea",
      "name": "GET CURRENT BACKUPS1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1800,
        0
      ],
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        },
        "resource": "fileFolder",
        "returnAll": true,
        "queryString": ".json"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "7caa0190-9bd5-4572-80e3-e3f3b34885a6",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -40
      ],
      "parameters": {
        "color": 7,
        "width": 203.08765089203305,
        "height": 542.95115693689,
        "content": "폴더가 존재하는지 확인하고, 존재하지 않으면 생성합니다."
      },
      "typeVersion": 1
    },
    {
      "id": "1a77a0fd-dfdd-456d-adfc-6da34a4ccbab",
      "name": "MOVE INTO OLD FOLDER",
      "type": "n8n-nodes-base.googleDrive",
      "onError": "continueRegularOutput",
      "position": [
        2480,
        -20
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('GET CURRENT FOLDER').item.json.id }}"
        },
        "operation": "move"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "id": "f9fad351-8e82-49a3-a7da-7a43b0735c34",
      "name": "UPLOAD WORKFLOWS",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2480,
        260
      ],
      "parameters": {
        "name": "={{ $('Split In Batches').item.binary.data.fileName }}-{{ $node[\"n8n\"].json[\"updatedAt\"] }}.json\n\n",
        "options": {},
        "parents": [
          "={{ $('IGNORE FILES').item.json.id }}"
        ],
        "binaryData": true,
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c8496ac4-b767-4fc3-bda3-12c0550763c4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        -80
      ],
      "parameters": {
        "color": 3,
        "width": 397.07512898799075,
        "height": 759.2757638563562,
        "content": "## 설명\n이 템플릿은 모든 n8n 워크플로의 야간 백업을 생성하여 GitHub 폴더에 저장합니다. 매일 밤, 전날 밤의 백업이 “n8n_old” 폴더로 이동되고 해당 날짜로 이름이 변경됩니다.\n\n지정된 기간보다 오래된 백업은 자동으로 삭제됩니다(이 기능은 30일 동안 활성화되며, 백업이 삭제되지 않기를 원하면 제거할 수 있습니다).\n\n## 필수 조건\n\n- Google Drive 계정과 자격 증명 **획득**은 다음 링크에서. [Link](https://console.cloud.google.com/apis/credentials/oauthclient/)\n- n8n 버전 1.67.1 이상\n- N8n API 키 **가이드**는 다음 링크에서. [Link](https://witmovil.com/where-to-create-the-api-key-in-n8n/)\n- 백업을 위한 대상 폴더:\n“n8n_old”\n“n8n_backups”\n(존재하지 않으면 생성하세요)\n\n## 구성\n모든 Google Drive 노드를 자격 증명으로 업데이트하세요.\nSchedule Trigger 노드를 백업 실행 desired 시간으로 편집하세요.\n오래된 백업을 자동으로 삭제하려면.\n\n“PURGE DAYS” 노드를 백업의 삭제할 나이를 지정하도록 편집하세요.\n“PURGE DAYS” 노드와 그 후속 3개 노드를 활성화하세요.\n지정된 일정에 따라 워크플로를 실행하도록 활성화하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "4654d857-8436-4922-aa9a-9f00d357e581",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        2000,
        0
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "id"
      },
      "typeVersion": 3
    },
    {
      "id": "9e9cc97d-1eff-40ea-9a1d-896681330b5e",
      "name": "Split In Batches2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2220,
        0
      ],
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "typeVersion": 2
    },
    {
      "id": "1bd963e2-6533-4d71-8790-fa840af822ab",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2220,
        280
      ],
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "typeVersion": 2
    },
    {
      "id": "aa9a5b1c-2c6b-4aff-af66-f15271eed643",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1800,
        280
      ],
      "parameters": {
        "filters": {},
        "returnAll": false,
        "requestOptions": {}
      },
      "credentials": {
        "n8nApi": {
          "id": "vPlm2YAtWv47eJLp",
          "name": "n8n witmovil"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d6455261-c3af-4f5a-8f7e-0dd57c5306e5",
      "name": "LIST OLD BACKUPS",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1960,
        520
      ],
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV",
            "cachedResultName": "n8n_old"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        },
        "resource": "fileFolder",
        "returnAll": true,
        "queryString": ".json"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "aa1878bd-b90e-4f37-bf2e-bb4fd72b4571",
      "name": "DELETE OLD BACKUP",
      "type": "n8n-nodes-base.googleDrive",
      "onError": "continueRegularOutput",
      "position": [
        2560,
        500
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "deletePermanently": true
        },
        "operation": "deleteFile"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "o1CgNemxQmc5Fyzd",
          "name": "Google Drive Alejandro Lobato"
        }
      },
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "id": "bde79076-3fb4-4f03-a907-fc492f88a17e",
      "name": "Item Lists old",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        2160,
        520
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "id"
      },
      "typeVersion": 3
    },
    {
      "id": "0bd6da8c-99ed-47ea-bb26-11e08e2f76e1",
      "name": "Split In Batches old",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2360,
        520
      ],
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "typeVersion": 2
    },
    {
      "id": "fa6fb3be-baba-4bbe-9900-b0949507d164",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        380
      ],
      "parameters": {
        "color": 3,
        "width": 344.2988945561964,
        "height": 232.84367238845454,
        "content": "## 버그 수정 v3:\n* 이동 섹션을 수정하여 이제 13개 이상의 파일을 감지하고 n8n_old 폴더로 이동합니다.\n* 파일 필터링을 변경했습니다.\n* 다음 버전에서 \"Split In Batches\"를 \"Loop Over Items\"로 변경할 것입니다."
      },
      "typeVersion": 1
    },
    {
      "id": "cf2d27b7-8601-466a-8331-c767b9c0c25a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        220
      ],
      "parameters": {
        "color": 5,
        "width": 984.8018228465335,
        "height": 267.23574473121596,
        "content": "모든 현재 워크플로우를 백업하세요. 제한 100 (변경)"
      },
      "typeVersion": 1
    },
    {
      "id": "484b37a9-8b21-4887-9443-bcb8ca34b57d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        320,
        20
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "40a6f21f-f044-4bb5-8d01-1fbdc4185eae",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1760,
        560
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If n8n_old",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1 n8n_backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n_old": {
      "main": [
        [
          {
            "node": "Create n8n_old",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge mensage",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IGNORE FILES": {
      "main": [
        [
          {
            "node": "GET CURRENT BACKUPS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge mensage": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER CREATES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create n8n_old": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists old": {
      "main": [
        [
          {
            "node": "Split In Batches old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1 n8n_backups": {
      "main": [
        [
          {
            "node": "Create n8n_backups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge mensage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIST OLD BACKUPS": {
      "main": [
        [
          {
            "node": "Item Lists old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "UPLOAD WORKFLOWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPLOAD WORKFLOWS": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE OLD BACKUP": {
      "main": [
        [
          {
            "node": "Split In Batches old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches2": {
      "main": [
        [
          {
            "node": "MOVE INTO OLD FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create n8n_backups": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT FOLDER": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT BACKUPS1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MOVE INTO OLD FOLDER": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches old": {
      "main": [
        [
          {
            "node": "DELETE OLD BACKUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT FOLDER CREATES": {
      "main": [
        [
          {
            "node": "IGNORE FILES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}