workflows/n8n-workflows-by-Zie619/common/2015_workflow_2015.json
{
  "meta": {
    "instanceId": "257476b1ef58bf3cb6a46e65fac7ee34a53a5e1a8492d5c6e4da5f87c9b82833"
  },
  "nodes": [
    {
      "id": "bfbd4299-0c8d-4368-b156-c76602ca068c",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        640,
        1700
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "40cf87be-d9fc-434b-9099-0151968d2a0b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1420
      ],
      "parameters": {
        "height": 259,
        "content": "## Icypeas를 사용한 도메인 스캔 (대량 검색)\n\n이 워크플로우는 Icypeas를 사용하여 도메인 스캔(대량 검색)을 수행하는 방법을 보여줍니다. 계정을 생성하기 위해 https://icypeas.com을 방문하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "c646dddb-bcd4-4ac8-b08f-e61ec16c99c5",
      "name": "Authenticates to your Icypeas account",
      "type": "n8n-nodes-base.code",
      "position": [
        1140,
        1700
      ],
      "parameters": {
        "jsCode": "const API_BASE_URL = \"https://app.icypeas.com/api\";\nconst API_PATH = \"/bulk-search\";\nconst METHOD = \"POST\";\n\n// Change here\nconst API_KEY = \"PUT_API_KEY_HERE\";\nconst API_SECRET = \"PUT_API_SECRET_HERE\";\nconst USER_ID = \"PUT_USER_ID_HERE\";\n////////////////\n\nconst genSignature = (\n    url,\n    method,\n    secret,\n    timestamp = new Date().toISOString()\n) => {\n    const Crypto = require('crypto');\n    const payload = `${method}${url}${timestamp}`.toLowerCase();\n    const sign = Crypto.createHmac(\"sha1\", secret).update(payload).digest(\"hex\");\n\n    return sign;\n};\n\nconst apiUrl = `${API_BASE_URL}${API_PATH}`;\n\nconst data = $input.all().map((x) => [ x.json.company]);\n$input.first().json.data = data;\n$input.first().json.api = {\n  timestamp: new Date().toISOString(),\n  secret: API_SECRET,\n  key: API_KEY,\n  userId: USER_ID,\n  url: apiUrl,\n};\n\n$input.first().json.api.signature = genSignature(apiUrl, METHOD, API_SECRET, $input.first().json.api.timestamp);\nreturn $input.first();"
      },
      "typeVersion": 1
    },
    {
      "id": "f0fcf039-2508-429e-8b9a-4ec1ab929d97",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        1548.9314213779933
      ],
      "parameters": {
        "height": 523.2083276562503,
        "content": "## 귀하의 Google 시트 파일 읽기\n\n이 노드는 Google 시트를 읽습니다. 시트를 다음과 같이 생성해야 합니다:\n\n**첫 번째 열** :\n헤더 : 회사\n\n노드에서 파일의 경로와 자격 증명을 지정하는 것을 잊지 마세요."
      },
      "typeVersion": 1
    },
    {
      "id": "1d0d1805-f664-44d3-83be-9ea26d43526c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1021.0092314499475,
        1458.51011235955
      ],
      "parameters": {
        "width": 392.0593078758952,
        "height": 1203.3290499048028,
        "content": "## Icypeas 계정에 인증합니다\n\n이 코드 노드는 API 키, API 시크릿, 및 사용자 ID를 사용하여 Icypeas 계정과 연결을 설정합니다.\n\n이 노드를 열고 따옴표 안에 API 키, API 시크릿, 및 사용자 ID를 삽입하세요. 이러한 자격 증명은 Icypeas 프로필(https://app.icypeas.com/bo/profile)에서 찾을 수 있습니다. 변경해야 할 부분의 추출 예는 다음과 같습니다 :\n\nconst API_KEY = \"**PUT_API_KEY_HERE**\";\nconst API_SECRET = \"**PUT_API_SECRET_HERE**\";\nconst USER_ID = \"**PUT_USER_ID_HERE**\";\n\n코드의 다른 줄은 변경하지 마세요.\n\n자체 호스팅 사용자인 경우, 암호화 모듈을 활성화하기 위해 다음 단계를 따르세요 :\n\n1. n8n 인스턴스에 접근하세요:\n웹 브라우저에서 n8n 인스턴스 URL로 이동하여 로그인하세요. 예: http://your-n8n-instance.com.\n\n2. 설정으로 이동하세요:\n우측 상단의 사용자 이름 클릭 후 \"Settings\"를 선택하세요.\n\n3. 일반 설정 선택하세요:\n왼쪽 메뉴에서 \"General\"을 클릭하세요.\n\n4. 암호화 모듈 활성화:\n\"Additional Node Packages\" 섹션으로 스크롤하여 \"crypto\" 옵션 옆의 체크박스를 선택하세요. 이렇게 하면 Crypto 모듈이 활성화됩니다.\n\n5. 변경사항 저장:\n페이지 하단의 \"Save\"를 클릭하여 변경사항을 적용하세요.\n\n이 단계를 따르신 후, Crypto 모듈이 자체 호스팅 n8n 인스턴스에서 활성화되어야 합니다. 변경사항을 저장하고 선택적으로 n8n 인스턴스를 재시작하여 변경사항이 적용되도록 하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "999fda2a-50ba-4641-8842-7d62587e0ad5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1413,
        1460
      ],
      "parameters": {
        "width": 328.8456933308303,
        "height": 869.114109302513,
        "content": "## 대량 도메인 스캔 수행.\n\n이 노드는 도메인/회사를 스캔하기 위해 HTTP 요청(POST)을 실행합니다.\n\n### 자격 증명 생성 방법 :\n\nHTTP Request 노드에서 자격 증명을 생성해야 합니다 :\n\n➔ 헤더 인증 자격 증명에서 - 새 자격 증명 생성 -을 클릭합니다.\n➔ 이름 섹션에 “Authorization”를 작성합니다.\n➔ 값 섹션에서 표현식을 선택합니다(필드 오른쪽 위에 마우스를 올리면 나타납니다) 그리고 {{ $json.api.key + ':' + $json.api.signature }}를 작성합니다.\n➔ 그런 다음 “Save”를 클릭하여 변경 사항을 저장합니다.\n\n### 결과 조회 방법 :\n\n일정 시간이 지난 후, 다운로드 가능한 결과는 Icypeas 애플리케이션의 이 섹션(https://app.icypeas.com/bo/bulksearch?task=domain-search)에서 확인할 수 있으며, no-reply@icypeas.com에서 이메일을 통해 스캔 결과를 받을 수 있습니다. 이 이메일은 스캔 결과를 제공합니다."
      },
      "typeVersion": 1
    },
    {
      "id": "0f5382ae-cd84-47a7-9818-ad252c9d62c3",
      "name": "Reads lastname,firstname and company from your sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        840,
        1700
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "ce00b713-6ddc-4625-a9cc-e9badc2022d4",
      "name": "Run bulk search (domain-search)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1480,
        1700
      ],
      "parameters": {
        "url": "={{ $json.api.url }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=domain-search"
            },
            {
              "name": "name",
              "value": "dernierT"
            },
            {
              "name": "user",
              "value": "={{ $json.api.userId }}"
            },
            {
              "name": "data",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ROCK-TIMESTAMP",
              "value": "={{ $json.api.timestamp }}"
            }
          ]
        }
      },
      "typeVersion": 4.1
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Reads lastname,firstname and company from your sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticates to your Icypeas account": {
      "main": [
        [
          {
            "node": "Run bulk search (domain-search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reads lastname,firstname and company from your sheet": {
      "main": [
        [
          {
            "node": "Authenticates to your Icypeas account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}