workflows/n8n-workflows-by-Zie619/common/2037_workflow_2037.json
{
  "meta": {
    "instanceId": "dbd43d88d26a9e30d8aadc002c9e77f1400c683dd34efe3778d43d27250dde50"
  },
  "nodes": [
    {
      "id": "b58964ca-d7a9-435d-a7cc-b09cac5c0a30",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1000,
        720
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "08dcd330-232d-48bf-b3fc-275513be9c62",
      "name": "Get all records with an image URL",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1200,
        720
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "app5TBVbHPs64w5lE",
          "cachedResultUrl": "https://airtable.com/app5TBVbHPs64w5lE",
          "cachedResultName": "N8N Image Automation"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblTVTofgqfzqyIZk",
          "cachedResultUrl": "https://airtable.com/app5TBVbHPs64w5lE/tblTVTofgqfzqyIZk",
          "cachedResultName": "Frogs"
        },
        "options": {},
        "operation": "search",
        "filterByFormula": "=NOT({Image source URL} = '')"
      },
      "typeVersion": 2
    },
    {
      "id": "331b2a4f-2168-443e-9827-f4967587d643",
      "name": "Update attachment field with images",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1400,
        720
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "app5TBVbHPs64w5lE",
          "cachedResultUrl": "https://airtable.com/app5TBVbHPs64w5lE",
          "cachedResultName": "N8N Image Automation"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblTVTofgqfzqyIZk",
          "cachedResultUrl": "https://airtable.com/app5TBVbHPs64w5lE/tblTVTofgqfzqyIZk",
          "cachedResultName": "Frogs"
        },
        "columns": {
          "value": {
            "id": "={{ $json.id }}",
            "Image attachment": "={\n\"Attachment\": {\n\"url\": \"{{ $json[\"Image source URL\"] }}\"\n}\n}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Image source URL",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Image source URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Image attachment",
              "type": "object",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Image attachment",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ]
        },
        "options": {},
        "operation": "update"
      },
      "typeVersion": 2
    },
    {
      "id": "d2be8b46-c845-4ebf-adfc-2ca2eee9ee46",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        460
      ],
      "parameters": {
        "width": 476,
        "height": 849,
        "content": "## 읽기\nAirtable에서 이미지 URL을 첨부파일로 업로드하는 매우 간단한 워크플로우. [이 워크플로우에 사용한 예시 Airtable 데이터베이스가 있습니다.](https://airtable.com/app5TBVbHPs64w5lE/shrcqQJEC56DV3I9b/tblTVTofgqfzqyIZk)\n\n1. Airtable 데이터베이스를 설정하세요. 이미지 URL이 포함된 하나의 텍스트 필드와 첨부파일 필드가 있어야 합니다. \n![원본 예시](https://i.imgur.com/IVIPQoo.png/<IMAGE-NAME>.png#full-width)\n\n2. 각 Airtable 노드에서 Airtable 자격 증명을 추가하고, 수정할 베이스와 테이블에 연결하세요.\n\n3. \"이미지 URL이 있는 모든 레코드 가져오기\" 노드의 \"Filter by Formula\"에서 필드 이름을 \"Image Source URL\"에서 URL 필드 이름으로 변경하세요.\n![원본 예시](https://i.imgur.com/32Z7DqX.png/<IMAGE-NAME>.png)\n\n4. 세 번째 노드 \"이미지로 첨부파일 필드 업데이트\"에서 표현식을 업데이트하여 URL 필드의 올바른 필드 이름을 사용하세요. \n![원본 예시](https://i.imgur.com/hUeZgxX.png/<IMAGE-NAME>.png)\n\n5. \"워크플로우 실행\"을 클릭하고 마법이 일어나는 것을 지켜보세요!"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get all records with an image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all records with an image URL": {
      "main": [
        [
          {
            "node": "Update attachment field with images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}