workflows/n8n-workflows-by-Zie619/common/2118_workflow_2118.json
{
  "nodes": [
    {
      "id": "3a0ba7f4-ac41-49b0-a055-b993c82f2680",
      "name": "Every day at 9 am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        340,
        1280
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "5fa47f36-3206-44b9-965a-0d27b10acc21",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        980
      ],
      "parameters": {
        "width": 348.2877732355713,
        "height": 595.2986206729652,
        "content": "## 알려진 마지막 연락 날짜가 있는 모든 연락처 검색\n\n1. n8n 문서를 사용하여 Oauth2 자격 증명 설정\nhttps://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.hubspottrigger/\n\n### 스코프에 주의하세요. 스코프는 n8n 문서에 정의된 대로 정확히 해야 합니다.\n\n### 이를 더 효과적으로 하기 위해, 마지막 연락 날짜로 오름차순 정렬합니다.\n\n### 출력"
      },
      "typeVersion": 1
    },
    {
      "id": "16b6fadf-ff1d-4670-b148-151cfbd242d5",
      "name": "Send outreach email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2040,
        1060
      ],
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "message": "={{ $json.html }}",
        "options": {
          "senderName": "Mutasem from n8n",
          "appendAttribution": false
        },
        "subject": "={{ $json.subject }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "rd2agqPeJBD2377h",
          "name": "Work Gmail"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "a89ec3bd-7bb0-4dde-a9eb-800842073fc9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        1300
      ],
      "parameters": {
        "color": 3,
        "width": 289.74216745960825,
        "height": 402.1775107197669,
        "content": "HubSpot에서 참여를 기록하세요\n\n참여가 추가되면, 마지막 연락 날짜가 업데이트되고, 검색 결과에 한 달 동안 나타나지 않을 것입니다."
      },
      "typeVersion": 1
    },
    {
      "id": "687509ed-4d25-4597-bade-1802348e42c9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        980
      ],
      "parameters": {
        "color": 5,
        "width": 407.25356360335365,
        "height": 242.51175804432177,
        "content": "## Gmail을 사용하여 Hubspot 연락처에 후속 이메일 보내기\n\n적절한 시기에 후속 조치를 취하는 것은 판매의 가장 중요한 부분 중 하나입니다. 이 워크플로는 이미 한 번만 연락받은 지 한 달 이상 지난 Hubspot 연락처에 Gmail을 사용하여 아웃리치 이메일을 보내며, Hubspot에 참여를 기록합니다."
      },
      "typeVersion": 1
    },
    {
      "id": "e66f48c9-0e19-4089-a4a4-d9e87b56898a",
      "name": "Record engagement in HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        2080,
        1500
      ],
      "parameters": {
        "type": "email",
        "metadata": {
          "html": "={{ $json.html }}",
          "subject": "={{ $json.subject }}",
          "toEmail": [
            "={{ $json.to }}"
          ],
          "firstName": "Mutasem",
          "fromEmail": "mutasem@n8n.io"
        },
        "resource": "engagement",
        "authentication": "oAuth2",
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.id }}"
          }
        }
      },
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "Gxwfj6z9NwaEC3P5",
          "name": "HubSpot account 3"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "f90770cf-aa6c-4148-b471-2b28ed978f72",
      "name": "Get previously HubSpot contacts",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        840,
        1280
      ],
      "parameters": {
        "operation": "search",
        "authentication": "oAuth2",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "operator": "HAS_PROPERTY",
                    "propertyName": "notes_last_contacted|datetime"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "sortBy": "notes_last_contacted",
          "direction": "ASCENDING",
          "properties": [
            "firstname",
            "lastname",
            "email",
            "notes_last_contacted"
          ]
        }
      },
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "Gxwfj6z9NwaEC3P5",
          "name": "HubSpot account 3"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "751fd345-9fec-4c7c-b20b-1db86ce6df10",
      "name": "if last contacted before a month",
      "type": "n8n-nodes-base.if",
      "position": [
        1120,
        1280
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8d9ad7ef-6e1a-486c-9fac-419ad2660ace",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.properties.notes_last_contacted }}",
              "rightValue": "={{ DateTime.now().minus({days: 30}) }}"
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "52596987-ef7f-4dd7-98e7-6c3aaf6c2853",
      "name": "Get Hubspot Contact to engagement",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1340,
        1280
      ],
      "parameters": {
        "url": "=https://api.hubapi.com/crm-associations/v1/associations/{{ $json.id }}/HUBSPOT_DEFINED/9",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api"
      },
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "Gxwfj6z9NwaEC3P5",
          "name": "HubSpot account 3"
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "fe0bc120-8bee-41fa-a896-3c9ff8cf3a29",
      "name": "if there has been only one engagement",
      "type": "n8n-nodes-base.if",
      "position": [
        1560,
        1280
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "07c7e29c-eed1-4872-a9f7-b833bb0cafca",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 1
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "512909c7-104b-4507-b91e-aa5b5a9410e5",
      "name": "Set email keys",
      "type": "n8n-nodes-base.set",
      "position": [
        1820,
        1280
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "f3ecc873-2d60-4f2d-bc40-81f9379c725b",
              "name": "html",
              "type": "string",
              "value": "=Hey {{ $json.properties.firstname }},\n\nJust want to follow up on my previous email, since I have not \n heard from you. Have you had the chance to consider n8n? \n\nCheers,\n\nMutasem"
            },
            {
              "id": "9f4f5b68-984b-415e-a110-a35ded22dd41",
              "name": "subject",
              "type": "string",
              "value": "Follow up on n8n"
            },
            {
              "id": "5362aa67-f3fa-4a6e-b6e8-4c50cc7a3192",
              "name": "to",
              "type": "string",
              "value": "={{ $('Get previously HubSpot contacts').item.json.properties.email }}"
            },
            {
              "id": "5b11e503-868d-4fca-bb44-59bb44d597a8",
              "name": "id",
              "type": "string",
              "value": "={{ $('Get previously HubSpot contacts').item.json.id }}"
            }
          ]
        }
      },
      "typeVersion": 3.3
    },
    {
      "id": "c0e5472d-5208-4df7-89e8-380c2dab9642",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        1060
      ],
      "parameters": {
        "color": 4,
        "width": 490.3275896931988,
        "height": 496.3776986502359,
        "content": "## 이전 참여를 가져옵니다. 첫 번째 참여인 경우 후속을 보내지 마십시오.\n\n### 여기에서 우리는 이전에 아웃리치 이메일만 있었다면 단순히 후속 조치를 취합니다.\n\n### 우리는 여기에서 참여를 가져올 수 있고 그들의 유형을 확인하며 더 고급 필터링을 수행할 수 있습니다."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Set email keys": {
      "main": [
        [
          {
            "node": "Record engagement in HubSpot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send outreach email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every day at 9 am": {
      "main": [
        [
          {
            "node": "Get previously HubSpot contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get previously HubSpot contacts": {
      "main": [
        [
          {
            "node": "if last contacted before a month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if last contacted before a month": {
      "main": [
        [
          {
            "node": "Get Hubspot Contact to engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hubspot Contact to engagement": {
      "main": [
        [
          {
            "node": "if there has been only one engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if there has been only one engagement": {
      "main": [
        [
          {
            "node": "Set email keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}