workflows/n8n-workflows-by-Zie619/common/4nBQyhwqDqmXY2AL_Automated_Image_Metadata_Tagging_(Community_Node).json
{
  "id": "4nBQyhwqDqmXY2AL",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a",
    "templateCredsSetupCompleted": true
  },
  "name": "Automated Image Metadata Tagging (Community Node)",
  "tags": [],
  "nodes": [
    {
      "id": "b0b030f5-8a8c-4254-bc18-a2790748248e",
      "name": "Trigger: New file added to Google Drive Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -760,
        120
      ],
      "parameters": {
        "event": "fileCreated",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1WaIRWXcaeNViKmpW5IyQ3YGARWYdMg47",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WaIRWXcaeNViKmpW5IyQ3YGARWYdMg47",
          "cachedResultName": "EXIF"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "L47XiMFzcjUgBp2i",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "1df51279-b3bd-49bd-9711-951eb4164290",
      "name": "Download Image File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -540,
        120
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {},
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "L47XiMFzcjUgBp2i",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "50a59e8e-ca95-4594-b8a9-0ba709795d42",
      "name": "Analyze Image Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -340,
        200
      ],
      "parameters": {
        "text": "=Deliver a comma separated list describing the content of this image.",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "options": {},
        "resource": "image",
        "inputType": "base64",
        "operation": "analyze"
      },
      "credentials": {
        "openAiApi": {
          "id": "niikB3HA4fT5WAqt",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "456164cc-ed41-4482-adb4-4ed00682153d",
      "name": "Merge Metadata and Image File",
      "type": "n8n-nodes-base.merge",
      "position": [
        -140,
        120
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3
    },
    {
      "id": "ddd6aef5-4dae-48e3-a806-3c58adea6552",
      "name": "Write Metadata into Image",
      "type": "n8n-nodes-exif-data.exifData",
      "position": [
        40,
        120
      ],
      "parameters": {
        "options": {},
        "operation": "write",
        "exifMetadata": {
          "metadataValues": [
            {
              "name": "Subject",
              "value": "={{$json.content}}"
            },
            {
              "name": "Keywords",
              "value": "={{$json.content}}"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9c531288-7fca-4cca-9717-6dd059266f47",
      "name": "Update Image File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        220,
        120
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Download Image File').item.json.id }}"
        },
        "options": {},
        "operation": "update",
        "changeFileContent": true,
        "newUpdatedFileName": "={{ $('Download Image File').item.json.name }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "L47XiMFzcjUgBp2i",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "70b6bb63-fedf-42eb-a6a0-30faae883f2c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1080,
        320
      ],
      "parameters": {
        "width": 660,
        "height": 680,
        "content": "# 내 자동화된 이미지 메타데이터 태깅 워크플로우에 오신 것을 환영합니다!\n\n이 워크플로우는 AI의 도움을 받아 이미지 내용을 자동으로 분석하고, 키워드로서 이미지 파일에 직접 작성합니다.\n\n## 이 워크플로우의 순서는 다음과 같습니다:\n\n1. Google Drive 트리거(특정 폴더에 새 파일이 추가되었는지 스캔)\n2. 추가된 이미지 파일 다운로드\n3. 이미지 내용 분석\n4. 메타데이터와 이미지 파일 병합\n5. 키워드를 메타데이터(dc:subject/keywords)에 작성하고 새 이미지 파일 생성\n6. Google Drive 폴더의 원본 파일 업데이트\n\n## 이 워크플로우에 필요한 액세스는 다음과 같습니다:\n- [n8n-nodes-exif-data 커뮤니티 노드](https://www.npmjs.com/package/n8n-nodes-exif-data)를 설치해야 합니다\n- Google Drive: [문서](https://docs.n8n.io/integrations/builtin/credentials/google)\n- AI API 액세스(예: OpenAI, Anthropic, Google 또는 Ollama를 통해)\n\nLinkedIn을 통해 문의하시면 됩니다: https://www.linkedin.com/in/friedemann-schuetz"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4d1520b-6df4-4e76-98ba-4d7555aec35d",
  "connections": {
    "Download Image File": {
      "main": [
        [
          {
            "node": "Analyze Image Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Metadata and Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image Content": {
      "main": [
        [
          {
            "node": "Merge Metadata and Image File",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Write Metadata into Image": {
      "main": [
        [
          {
            "node": "Update Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metadata and Image File": {
      "main": [
        [
          {
            "node": "Write Metadata into Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: New file added to Google Drive Folder": {
      "main": [
        [
          {
            "node": "Download Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}