workflows/n8n-workflows-by-Zie619/common/XGFs5jZNCeURd4OT_Publish_Image_Post_to_Bluesky.json
{
  "id": "XGFs5jZNCeURd4OT",
  "meta": {
    "instanceId": "c5e9c1178f3b42f080c51c81bcfa62e1fbd48abf38103a7a4cd8e15abc64df08",
    "templateCredsSetupCompleted": true
  },
  "name": "Publish Image Post to Bluesky",
  "tags": [],
  "nodes": [
    {
      "id": "afd666fc-8f79-488d-a295-4bfdd6883924",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        35,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d31bfe18-5acc-4f72-80d0-d85111dd62cc",
      "name": "Create Bluesky Session",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        435,
        260
      ],
      "parameters": {
        "url": "https://bsky.social/xrpc/com.atproto.server.createSession",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ $('Define Credentials').item.json.credentials }}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "514ac077-3c96-41f0-b178-afefe2f9faae",
      "name": "Download Images",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1260,
        260
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "67e77e91-3a53-44c3-a474-2cd3b4977cf2",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1580,
        260
      ],
      "parameters": {
        "jsCode": "return $input.all().map( item => ({\n    alt: \"-\",\n    image: {\n      ...item.json.blob\n    }\n}));"
      },
      "typeVersion": 2
    },
    {
      "id": "b8540b04-afe8-4455-8fec-fcab5ffff1ae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        102.39520958083813
      ],
      "parameters": {
        "color": 4,
        "width": 391.0892880786254,
        "height": 335.5179928232044,
        "content": "## 포스트 캡션을 여기에 정의하세요\n\n설정할 수 있습니다\n\n* 포스트의 텍스트 캡션 (최대 300자)\n\n* 이미지 URL (최대 4개 이미지, 각각 1MB)"
      },
      "typeVersion": 1
    },
    {
      "id": "2a6e60ef-4042-4648-85bb-143d226aa736",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1100,
        260
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "photos"
      },
      "typeVersion": 1
    },
    {
      "id": "5c3a6c2f-7b60-4448-9d85-4174e9f5f770",
      "name": "Post to Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1940,
        260
      ],
      "parameters": {
        "url": "https://bsky.social/xrpc/com.atproto.repo.createRecord",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"repo\": \"{{ $('Create Bluesky Session').item.json.did }}\",\n  \"collection\": \"app.bsky.feed.post\",\n  \"record\": {\n      \"$type\": \"app.bsky.feed.post\",\n      \"text\": \"{{ $('Set Caption').item.json['Post Text'].trim()}}\",\n      \"createdAt\": \"{{ $now }}\",\n\"embed\": {\n\"$type\": \"app.bsky.embed.images\",\n\"images\":{{ $('Aggregate').item.json.data.toJsonString() }}\n}\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Create Bluesky Session').item.json.accessJwt }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "266ef5cb-18df-45b0-b5c4-59782e571d40",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -2.994011976047659
      ],
      "parameters": {
        "color": 3,
        "width": 418.7983637184758,
        "height": 440.36620487216396,
        "content": "## Bluesky 자격 증명 설정\n2개의 값을 설정해야 합니다...\n1. _식별자_  \n이것은 귀하의 Bluesky 사용자 이름입니다. 예: \"username.bsky.social\"\n2. _앱 비밀번호_  \n이것은 귀하의 로그인 비밀번호가 _아닙니다_. 대신 [귀하의 Bluesky 계정](https://bsky.app/settings/app-passwords)에서 생성된 것입니다.\n\nBluesky 세션이 이미지 업로드 및 게시를 위해 열립니다."
      },
      "typeVersion": 1
    },
    {
      "id": "3a7fc037-02f6-4091-bcdc-5b22d43269ef",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1063.9520958083824,
        160
      ],
      "parameters": {
        "color": 7,
        "width": 814.7806424732389,
        "height": 269.1258097879526,
        "content": "### 이미지 첨부 처리\nBluesky는 이미지를 게시물에 직접 첨부하지 않습니다. 이미지는 먼저 개별적으로 업로드된 [다음 게시물에 임베드됩니다](https://docs.bsky.app/docs/tutorials/creating-a-post#images-embeds)."
      },
      "typeVersion": 1
    },
    {
      "id": "aa7796b3-9cc7-4219-85af-a9ae3613f891",
      "name": "Define Credentials",
      "type": "n8n-nodes-base.set",
      "position": [
        235,
        260
      ],
      "parameters": {
        "mode": "raw",
        "options": {},
        "jsonOutput": "{\"credentials\":\n  {\n    \"identifier\": \"username.bsky.social\",\n    \"password\": \"XXXX-YYYY-ZZZZ-XXXX\"\n  }\n}"
      },
      "typeVersion": 3.4
    },
    {
      "id": "4bcf77ef-b40e-485e-b444-659f77cf9d69",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1740,
        260
      ],
      "parameters": {
        "options": {},
        "aggregate": "aggregateAllItemData"
      },
      "typeVersion": 1
    },
    {
      "id": "eb2730e5-cad7-47f0-96d2-f2ae1dee6dd5",
      "name": "Set Images",
      "type": "n8n-nodes-base.set",
      "position": [
        880,
        260
      ],
      "parameters": {
        "mode": "raw",
        "options": {},
        "jsonOutput": "{  \"photos\":[\n    {\n      \"url\":\"https://picsum.photos/800/600?random=234234\"\n    },\n    {\n      \"url\":\"https://picsum.photos/800/600?random=676855\"\n    },\n    {\n      \"url\":\"https://picsum.photos/800/600?random=4564\"\n    },\n    {\n      \"url\":\"https://picsum.photos/800/600?random=12124\"\n    }\n  ]}"
      },
      "typeVersion": 3.4
    },
    {
      "id": "0d3a030e-1ac6-420d-a850-d267928f4072",
      "name": "Post Image to Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1420,
        260
      ],
      "parameters": {
        "url": "https://bsky.social/xrpc/com.atproto.repo.uploadBlob",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "binaryData",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Create Bluesky Session').item.json.accessJwt }}"
            }
          ]
        },
        "inputDataFieldName": "data"
      },
      "typeVersion": 4.2
    },
    {
      "id": "31124777-ee35-4ceb-b0e7-75f7cef4b481",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -260
      ],
      "parameters": {
        "width": 880.0000000000002,
        "height": 207.9041916167665,
        "content": "# Bluesky에 이미지와 함께 새 게시물 만들기  \n이 워크플로는  \n1. 지정한 URL에서 이미지를 검색합니다  \n2. Bluesky에 블롭으로 하나씩 업로드합니다  \n3. 게시물의 기본 텍스트를 지정할 수 있습니다  \n3. Bluesky 자격 증명을 사용하여 피드에 게시합니다"
      },
      "typeVersion": 1
    },
    {
      "id": "f8e54515-c9ec-474d-aa2b-fe357cbd4775",
      "name": "Set Caption",
      "type": "n8n-nodes-base.set",
      "position": [
        688,
        260
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "6135981d-82d9-47bb-9eb5-ce9a4220f108",
              "name": "Caption Text",
              "type": "string",
              "value": "Here is the amazing content of my post, max of 300 characters!"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86d8df08-3f73-40a5-9c5b-d2ebda3f3b13",
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Post to Bluesky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Download Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Images": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Caption": {
      "main": [
        [
          {
            "node": "Set Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Images": {
      "main": [
        [
          {
            "node": "Post Image to Bluesky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Credentials": {
      "main": [
        [
          {
            "node": "Create Bluesky Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Image to Bluesky": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bluesky Session": {
      "main": [
        [
          {
            "node": "Set Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Define Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}