workflows/n8n-workflows-by-Zie619/devops/2501_workflow_2501.json
{
  "meta": {
    "instanceId": "6b6a2db47bdf8371d21090c511052883cc9a3f6af5d0d9d567c702d74a18820e"
  },
  "nodes": [
    {
      "id": "f4570aad-db25-4dcd-8589-b1c8335935de",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        20,
        5220
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "675243b0-080f-4d5e-a0ca-a0fe0e7c04a9",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        185,
        5140
      ],
      "parameters": {
        "color": 7,
        "width": 426.32566328767217,
        "height": 260.3707944299243,
        "content": "Docx 파일에서 이미지를 찾아 바꾸기. 삽입하고 싶은 이미지 URL이 있는 데이터 소스에 연결하여 Docx 파일에 삽입하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "16bbf5da-5ebc-4e9c-8b3c-80d0077c51b8",
      "name": "Find Image ID in Docx",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        5220
      ],
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{$json.documentId}}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api"
      },
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "id": "60325192-4730-4410-ae33-9127ff8cc5f7",
      "name": "Make file shareable publically (optional)",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1360,
        5220
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.documentId }}"
        },
        "options": {},
        "operation": "share",
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone"
          }
        }
      },
      "typeVersion": 3
    },
    {
      "id": "6f254810-3ab8-4ec1-b964-8b399472acf3",
      "name": "Image URL",
      "type": "n8n-nodes-base.set",
      "notes": "Define Image URL",
      "position": [
        440,
        5220
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "cc2c6af0-68d3-49eb-85fe-3288d2ed0f6b",
              "name": "url",
              "type": "string",
              "value": "https://picsum.photos/id/400/300/300"
            }
          ]
        },
        "includeOtherFields": true
      },
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "id": "d33a913a-2d98-4922-ba8d-5d325b114572",
      "name": "Find & Copy Docx Template",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        660,
        5220
      ],
      "parameters": {
        "name": "Chosen filename",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1RQAX2CszNqw79gZxeocEZU0-KquTq3RQc2-5Uv1mgd0",
          "cachedResultUrl": "https://docs.google.com/document/d/1RQAX2CszNqw79gZxeocEZU0-KquTq3RQc2-5Uv1mgd0/edit?usp=drivesdk",
          "cachedResultName": "Marketing Plan (template)"
        },
        "options": {},
        "operation": "copy"
      },
      "notesInFlow": true,
      "typeVersion": 3
    },
    {
      "id": "1f43d321-eddf-4008-99e2-9338cc85bad2",
      "name": "Sticky Note42",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        5420
      ],
      "parameters": {
        "color": 3,
        "width": 415.45208033736463,
        "height": 105.04337297263078,
        "content": "이미지 URL 데이터베이스에 연결하여 입력하세요. 열 이름을 `Image URL` 노드처럼 `url`로 지정하세요. 이 흐름은 이미지 URL만 지원하며, 실제 이미지 파일은 지원하지 않습니다."
      },
      "typeVersion": 1
    },
    {
      "id": "0e1bb319-8429-4bde-88a3-9fd69df7c986",
      "name": "Own datasource",
      "type": "n8n-nodes-base.noOp",
      "position": [
        240,
        5220
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d534cc1f-e651-4c06-860b-ce3d3c648964",
      "name": "Sticky Note43",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        5420
      ],
      "parameters": {
        "color": 2,
        "width": 415.45208033736463,
        "height": 222.7191963089109,
        "content": "여러 문서에 여러 이미지를 생성하려면, 교체할 플레이스홀더 이미지가 있는 템플릿을 GDrive 폴더에 생성하세요. 이 템플릿은 플로우를 실행할 때마다 복사되며, 새 문서의 ID가 `find image ID in Docx`에 전달되어 해당 이미지를 이미지 URL로 교체할 수 있습니다. 단일 문서에만 적용하는 경우 `find and copy docx template` 노드를 제거하세요. 이 단계를 수행하는 경우, GDrive 계정에 연결하는 방법에 대한 [n8n guide](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive/)를 따르세요."
      },
      "typeVersion": 1
    },
    {
      "id": "b6a22eb4-0b13-4eb5-be40-ed2dfedf99b5",
      "name": "Sticky Note44",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        5120
      ],
      "parameters": {
        "color": 7,
        "width": 169.22824698060023,
        "height": 278.7193163441844,
        "content": "선택 사항 - Google Drive 폴더에 템플릿 문서를 생성하고 복사하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "25d2a7c0-cef7-4aaf-9bb8-fe9c83d73731",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        853,
        5120
      ],
      "parameters": {
        "color": 7,
        "width": 435.22861330045936,
        "height": 278.7193163441844,
        "content": "템플릿 문서의 문서 세부 정보(이미지 ID 포함)를 검색하기 위해 Google API에 요청을 보냄"
      },
      "typeVersion": 1
    },
    {
      "id": "f8dcb709-5505-4c63-afe9-83a0dfb608e9",
      "name": "Replace Image in Docx",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1100,
        5220
      ],
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{$json.documentId}}:batchUpdate",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceImage\": {\n        \"imageObjectId\": {{ $json.body.content[1].paragraph.elements[0].inlineObjectElement.inlineObjectId }},\n        \"uri\": \"{{ $('Image URL').item.json.url }}\",\n        \"imageReplaceMethod\": \"CENTER_CROP\"\n      }\n    }\n  ]\n} ",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api"
      },
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "id": "f800131b-e8d3-4741-8e8d-ad208e53ebe7",
      "name": "Sticky Note46",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        5420
      ],
      "parameters": {
        "color": 3,
        "width": 297.15093794343295,
        "height": 373.0766632058715,
        "content": "**필수**\n\n- Google Docs OAuth 2 API 자격 증명을 [자신의 것으로](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledocs/) 업데이트하세요\n- 이전 단계를 제거한 경우 Document ID가 `Find Image ID in Docx`에 올바르게 전달되는지 확인하세요\n- `Replace Image in Docx` 노드의 `imageObjectId`가 올바른지 확인하세요. 문서에 단일 이미지만 있는 경우 이전 노드에서 반환된 `\"{{ $json.body.content[1].paragraph.elements[0].inlineObjectElement.inlineObjectId }}\"`를 사용해야 합니다. 이미지가 두 개 이상인 경우 id는 이전 노드의 `\"body.content[1].paragraph.positionedObjectIds[0]\"` 객체에 중첩되어 있습니다."
      },
      "typeVersion": 1
    },
    {
      "id": "0cdad7ae-e407-4c21-b454-8b2824e2b6d4",
      "name": "Sticky Note47",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        5420
      ],
      "parameters": {
        "color": 2,
        "width": 747.7707439712262,
        "height": 222.7191963089109,
        "content": "**선택사항**  \n- 파일을 공개적으로 공유 가능하게 하세요 (누구나 볼/편집할 수 있음)  \n- 파일을 Docx로 다운로드  \n- 파일을 PDF로 다운로드  \n\n위의 모든 작업은 귀하의 GDrive 계정으로 인증하는 것을 요구하며, `documentID`가 이전 노드에서 올바르게 가져와지도록 확인하고, 관련이 있으면 `filename`을 선택하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "fa6a214e-b6c5-403a-884a-d915f5a1362f",
      "name": "Download File - Docx",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1580,
        5220
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.documentId }}"
        },
        "options": {},
        "operation": "download"
      },
      "notesInFlow": true,
      "typeVersion": 3
    },
    {
      "id": "399e08ae-864d-4ffa-bc18-d82e03e30f7c",
      "name": "Download File - PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1800,
        5220
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.documentId }}"
        },
        "options": {
          "fileName": "=filename - PDF",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "notesInFlow": true,
      "typeVersion": 3
    },
    {
      "id": "0855b49a-dca3-4da8-8e22-4294523798d7",
      "name": "Sticky Note48",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        5120
      ],
      "parameters": {
        "color": 7,
        "width": 683.4764182113373,
        "height": 278.7193163441844,
        "content": "선택사항 - 파일을 공유 가능하게 하며, docx 및 PDF 형식으로 다운로드"
      },
      "typeVersion": 1
    },
    {
      "id": "d4a2e23d-9c14-4b0c-8fd3-99a981d2f39b",
      "name": "Sticky Note49",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        4960
      ],
      "parameters": {
        "color": 4,
        "width": 773.6179704580734,
        "height": 875.8289847608302,
        "content": "## Google Docs 문서에서 이미지 교체 및 PDF/Docx로 다운로드\n\n## 사용 사례\nGoogle Docs에서 이미지 교체를 자동화합니다:\n- 문서 이미지를 동적으로 업데이트해야 할 때\n- 다양한 이미지를 사용하여 템플릿의 여러 버전을 생성하고 싶을 때\n- URL 데이터베이스에서 문서 이미지를 일괄 처리해야 할 때\n- 맞춤형 이미지가 포함된 공유 가능한 문서를 생성하고 싶을 때\n\n## 이 워크플로가 하는 일\n워크플로는 Google Docs에서 이미지 교체를 자동화합니다:\n- 데이터베이스에서 이미지 URL을 수락합니다\n- 템플릿 문서에서 이미지를 찾아 교체합니다\n- 업데이트된 이미지로 새 문서 사본을 생성합니다\n- 선택적으로 PDF로 변환하고 문서를 공유 가능하게 만듭니다\n\n## 설정\n1. 이미지 URL 데이터베이스 연결 (열 이름은 \"url\"이어야 함)\n2. [Google Docs OAuth 2 API 자격 증명 설정](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledocs/)\n3. 선택 사항: Google Drive에 플레이스홀더 이미지가 있는 템플릿 문서 생성\n4. 선택 사항: 추가 기능에 [Google Drive 인증 구성](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive/)\n\n## 필요에 맞게 조정하는 방법\n- 단일 문서 처리의 경우 템플릿 복사 제거\n- 여러 이미지가 있는 문서의 경우 이미지 ID 선택 조정\n- 공유 설정과 다운로드 형식 구성\n- 파일 이름과 저장 위치 사용자 정의\n\nSimon이 만든 @ [automake.io](https://automake.io)"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Image URL": {
      "main": [
        [
          {
            "node": "Find & Copy Docx Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Own datasource": {
      "main": [
        [
          {
            "node": "Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File - Docx": {
      "main": [
        [
          {
            "node": "Download File - PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Image ID in Docx": {
      "main": [
        [
          {
            "node": "Replace Image in Docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Image in Docx": {
      "main": [
        [
          {
            "node": "Make file shareable publically (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find & Copy Docx Template": {
      "main": [
        [
          {
            "node": "Find Image ID in Docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Own datasource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make file shareable publically (optional)": {
      "main": [
        [
          {
            "node": "Download File - Docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}