workflows/awesome-n8n-templates-by-enescingoz/multi-modal/Automate Screenshots with URLbox & Analyze them with AI.json
{
  "id": "wDD4XugmHIvx3KMT",
  "meta": {
    "instanceId": "149cdf730f0c143663259ddc6124c9c26e824d8d2d059973b871074cf4bda531"
  },
  "name": "Analyze Screenshots with AI",
  "tags": [],
  "nodes": [
    {
      "id": "6d7f34b8-6203-4512-a428-7b5a18c63db6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        1100
      ],
      "parameters": {
        "width": 373.2796418305297,
        "height": 381.1230421279239,
        "content": "설정\n\n테스트를 위해 설정 노드를 사용하여 테스트 이름과 URL을 입력하세요.\n\n이 워크플로를 프로덕션에서 사용하고 싶다면, DB나 Google Sheet와 같은 다른 소스에서 데이터를 로드하도록 확장할 수 있습니다."
      },
      "typeVersion": 1
    },
    {
      "id": "ae568c65-e8f6-45bb-9c96-a870da1fc7d6",
      "name": "Setup",
      "type": "n8n-nodes-base.set",
      "position": [
        360,
        1320
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "website_name",
              "value": "=n8n"
            },
            {
              "name": "url",
              "value": "https://n8n.io/"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "ca9f0357-a596-4453-b351-fdd8d47c81ad",
      "name": "URLbox API Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        780,
        1120
      ],
      "parameters": {
        "url": "https://api.urlbox.io/v1/render/sync",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "full_page",
              "value": true
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_API_KEY"
            }
          ]
        }
      },
      "retryOnFail": true,
      "typeVersion": 4.1
    },
    {
      "id": "3caffa3c-657a-4f74-a3cb-daf7beb67890",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        920
      ],
      "parameters": {
        "width": 373.2796418305297,
        "height": 381.1230421279239,
        "content": "## URLbox API 호출  \n[URLbox](https://urlbox.com/)는 스크린샷 API입니다. 이 API를 사용하면 웹사이트 URL을 기반으로 스크린샷을 자동으로 생성할 수 있습니다.  \n\nPlaceholder를 API 키로 교체해야 합니다."
      },
      "typeVersion": 1
    },
    {
      "id": "d2b81b41-1497-4733-8130-67f8de0acff4",
      "name": "Analyze the Screenshot",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1220,
        1120
      ],
      "parameters": {
        "text": "=Your Input is a Screenshot of a Website.\nDescribe the content of the Website in one sentence.",
        "options": {},
        "resource": "image",
        "imageUrls": "renderURL",
        "operation": "analyze"
      },
      "typeVersion": 1.1
    },
    {
      "id": "68d86931-69bb-4b78-a7fe-44969172672f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        920
      ],
      "parameters": {
        "width": 373.2796418305297,
        "height": 381.1230421279239,
        "content": "## 스크린샷 분석  \nOpenAI를 사용하여 스크린샷을 분석하세요.  \n\n노드의 상단에 귀하의 OpenAI 자격 증명을 추가하세요.  \n\n프롬프트는 예시입니다. 스크린샷에서 추출하고 싶은 내용에 따라 변경하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "8a22fca5-7f06-45fb-a03f-585a7eb35b40",
      "name": "Merge Name & Description",
      "type": "n8n-nodes-base.merge",
      "position": [
        1620,
        1300
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "mergeByPosition"
      },
      "typeVersion": 2.1
    },
    {
      "id": "4f902a0a-ee93-4190-9b1e-ab3fa15eb4aa",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        1200
      ],
      "parameters": {
        "width": 371.85912137154685,
        "height": 300.15337596590155,
        "content": "설명과 웹사이트 이름 및 URL을 병합하세요."
      },
      "typeVersion": 1
    },
    {
      "id": "8b3eb3f4-b31a-48f0-94bb-35379d07a81f",
      "name": "Manual Execution",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        20,
        1320
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff37faa1-c61c-44be-89f0-62f8e1b8317c",
  "connections": {
    "Setup": {
      "main": [
        [
          {
            "node": "URLbox API Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Name & Description",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Manual Execution": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLbox API Request": {
      "main": [
        [
          {
            "node": "Analyze the Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze the Screenshot": {
      "main": [
        [
          {
            "node": "Merge Name & Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}